<div>
  <h1 class="text-4xl font-bold">Take a break from the noise</h1>
  <p>Aggregate all your favourite creators tweets in one place.</p>
  <a href="/auth/twitter/login">Sign in with Twitter</a>
</div>